h2{
	color: #ffffff;
}
body {
    font-size: 30px;
    font-style: italic; 
    font-weight: bold;    
    background: lightseagreen url("C:/Users/juanjose/Desktop/Generation/workspace/MVCPracitca10/WebContent/images/background_3.png") /*no-repeat*/ top right;
    background-size: 25%;
    /*<IMG src="mifoto.jpg" width="100" height="100"/>*/
}

.loader{
	position fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index:9999;
	background: url('images/page-loader.gif') 50% 50% no-repeat rgb(249, 249, 249);
}